/**GENERAL*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/** FLEX **/
.flex{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.nowrap{
    flex-wrap: nowrap;
}
.flex-1{
    flex: 1;
}
.flex-2{
    flex: 2;
}
.flex-3{
    flex: 3;
}
.flex-4{
    flex: 4;
}
.flex-5{
    flex: 5;
}

.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}
.gap-25{
    gap: 25px;
}
.gap-30{
    gap: 30px;
}
.jcc,.flex-center-h{
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.aic, .flex-center-v{
    align-items: center;
}
/** POSITION **/
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.sticky{
    position: sticky;
}
/** DISPLAY **/
.none{
    display: none;
}
.block{
    display: block;
}
/** TIPOGRAPHIE **/
.bold{
    font-weight: bold;
}
/** LISTES */
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/** MARGIN */
.m-5{
    margin: 5px;
}
.m-10{
    margin: 10px;
}
.m-15{
    margin: 15px;
}
.m-20{
    margin: 20px;
}
.m-25{
    margin: 25px;
}
/** PADDING */
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.p-25{
    padding: 25px;
}

/* Icon */
.dropdown::after{
    content: "\1F893";
    padding-left: 2px;
    position: relative;
    top: 5px;
}
.burger-icon::after{
    content: '\002630';
    float: right;
}

/******************* POST MODAL ***********************/

.modal-post {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgb(0 0 0/10%), 0 8px 16px rgb(0 0 0/33%);
    border-radius: 5px;
    background-color: white;
    z-index: 2;
    display: none;
}


.modal-header h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.close-modal {
    position: relative;
    cursor: pointer;
}

.modal-header .fa-times {
    position: absolute;
    right: 5px;
    font-size: 1.5rem;
    background-color: #ccc;
    border-radius: 50px;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
}

.modal-post .divider {
    border: 0.1px solid#ccc;
    margin: 10px 0;
}

.modal-body,
.modal-footer {
    padding: 10px;
}

.modal-body .user-new-modal {
    display: flex;
    align-items: center;
}

.modal-body .user-new-modal .profile-picture {
    padding: 10px;
}

.modal-body .post-content textarea {
    width: 100%;
    border: none;
    outline: none;
    /* font-size: 1.9rem; */
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.modal-footer .modal-icon {
    display: flex;
    justify-content: space-between;
}

.modal-infos {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.modal-infos-icons {
    display: flex;
    gap: 5px;
}

.modal-infos-icon i {
    flex: 1;
}

.modal-infos .modal-infos-title {
    flex: 1;
    font-weight: bold;
    font-size: 1.2rem;
}

.modal-footer button{
    background-color: #1877f2;
    color: white;
    width: 100%;
    margin: 10px 0;
}
