<div class="auth-page">
    <div class="container-md pt-5">

        <div class="row container">
            <div class="col-md-6">
                <div class="login-title">
                    <h1>facebook</h1>
                    <p>Avec Facebook, partagez et restez en contact avec votre entourage</p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="login-form row ">
                    <div class="form-box">
                        <form class="mb-3">
                            <div class="form-row">
                                <input type="text" placeholder="Adresse e-mail ou numéro de tel.">
                            </div>
                            <div class="form-row">
                                <input type="password" placeholder="Mot de passe">
                            </div>
                            <div class="form-button">
                                <button class="btn btn-primary">Connexion</button>

                            </div>
                            <div class="form-infos text-center">
                                <p>
                                    <a href=""> Mot de passe oublié.</a>
                                </p>

                            </div>
                        </form>
                        <div class="divider"></div>
                        <div class="create_page flex jcc">
                            <button class="btn btn-success p-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                id="create-account-button">Créer un compte</button>
                        </div>
                    </div>
                    <div class="login-footer text-center row">
                        <p>
                            <a href="#">Créer une page</a> pour une célébrité, un groupe ou une entreprise.
                        </p>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>

<div class="pageFooter container-md" data-referrer="page_footer" data-testid="page_footer">
    <ul class="uiList localeSelectorList d-flex gap-2" data-nocookies="1">
        <li>Français (France)</li>
        <li><a href="" title="English (US)">English (US)</a></li>
        <li><a href="" title="Spanish">Español</a></li>
        <li><a href="" title="Turkish">Türkçe</a></li>
        <li><a href="" title="Portuguese (Portugal)">Português
                (Portugal)</a></li>
        <li><a class="_sv4" dir="rtl" href="" title="Arabic">العربية</a></li>
        <li><a href="" title="Italian">Italiano</a></li>
        <li><a href="" title="German">Deutsch</a></li>
        <li><a href="" title="Hindi">हिन्दी</a></li>
        <li><a href="" title="Simplified Chinese (China)">中文(简体)</a>
        </li>
        <li><a href="" title="Japanese">日本語</a></li>
        <li><a role="button" class="_42ft _4jy0 _517i _517h _51sy" rel="dialog"
                ajaxify="/settings/language/language/?uri=https%3A%2F%2Fja-jp.facebook.com%2F&amp;source=www_list_selector_more"
                href="#" title="Voir plus de langues"><i class="img sp_EP9wX8qDDvu sx_0de3e6"></i></a></li>
    </ul>
    <div id="contentCurve"></div>
    <div id="pageFooterChildren" role="contentinfo" aria-label="Liens Facebook">
        <ul class="uiList pageFooterLinkList d-flex">
            <li><a href="" title="Inscrivez-vous sur Facebook">S’inscrire</a></li>
            <li><a href="" title="Se connecter à Facebook">Se connecter</a></li>
            <li><a href="" title="Essayez Messenger.">Messenger</a></li>
            <li><a href="" title="Facebook Lite pour Android.">Facebook Lite</a></li>
            <li><a href="" title="Naviguez parmi nos vidéos Watch.">Vidéo</a></li>
            <li><a href="" title="Découvrez les lieux populaires sur Facebook.">Lieux</a></li>
            <li><a href="" title="Découvrez les jeux Facebook.">Jeux</a></li>
            <li><a href="" title="Achetez et vendez sur Facebook Marketplace.">Marketplace</a></li>
            <li><a href="" title="En savoir plus sur Meta Pay" target="_blank">Meta Pay</a>
            </li>
            <li><a href="" title="Découvrez Meta" target="_blank">Meta Store</a></li>
            <li><a href="" title="En savoir plus sur Meta Quest" target="_blank">Meta&nbsp;Quest</a></li>
            <li><a href="" title="Découvrez Instagram" target="_blank" rel="noreferrer nofollow"
                    data-lynx-mode="asynclazy">Instagram</a></li>
            <li><a href="" title="Découvrez Threads" target="_blank" rel="noreferrer nofollow"
                    data-lynx-mode="asynclazy">Threads</a></li>
            <li><a href="" title="Faire un don à des causes qui le méritent.">Collectes de dons</a>
            </li>
            <li><a href="" title="Parcourir notre annuaire des services Facebook.">Services</a></li>
            <li><a href="" title="Voir le Centre d’information sur les élections.">Centre d’information sur les
                    élections</a></li>
            <li><a href=""
                    title="Découvrez comment nous collectons, utilisons et partageons les informations pour faire fonctionner Facebook.">Politique
                    de confidentialité</a></li>
            <li><a href="" title="Découvrez comment gérer et contrôler votre confidentialité sur Facebook.">Centre de
                    confidentialité</a></li>
            <li><a href="" title="Découvrir nos groupes.">Groupes</a></li>
            <li><a href="" accesskey="8"
                    title="Consultez notre blog, découvrez notre centre de ressources et recherchez des offres d’emploi.">À
                    propos</a></li>
            <li><a href="" title="Diffusez votre publicité sur Facebook.">Créer une publicité</a></li>
            <li><a href="" title="Créez une Page.">Créer une Page</a></li>
            <li><a href="" title="Développez sur notre propre plateforme.">Développeurs</a></li>
            <li><a href="" title="Faites évoluer votre carrière en rejoignant notre incroyable entreprise.">Emplois</a>
            </li>
            <li><a href="" title="À propos des cookies et de Facebook." data-nocookies="1">Cookies</a>
            </li>
            <li><a class="_41ug" data-nocookies="1" href="" title="En savoir plus sur Choisir sa publicité.">Choisir sa
                    publicité<i class="img sp_EP9wX8qDDvu sx_6bdd81"></i></a></li>
            <li><a data-nocookies="1" href="" accesskey="9"
                    title="Prenez connaissance des conditions générales et des règlements.">Conditions générales</a>
            </li>
            <li><a href="" accesskey="0" title="Consultez les pages d’aide.">Aide</a></li>
            <li><a href=""
                    title="Consultez notre avis sur l’importation des contacts et les non-utilisateurs.">Importation
                    des contacts et non-utilisateurs</a></li>
            <li><a accesskey="6" class="accessible_elem" href=""
                    title="Affichez et modifiez vos paramètres Facebook.">Paramètres</a></li>
            <li><a accesskey="7" class="accessible_elem" href="" title="Affichez votre Historique d’activité">Historique
                    d’activité</a></li>
        </ul>
    </div>
    <div class="mvl copyright">
        <div><span> Meta © 2023</span></div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="register-title">
                    <h2>S'inscrire</h2>
                    <p>C'est rapide et facile</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="register-form">
                    <form class="flex column gap-2">
                        <div class="form-group-input flex gap-1">
                            <input class="flex-1" type="text" placeholder="Prénom">
                            <input class="flex-1" type="text" placeholder="Nom de famille">
                        </div>
                        <div class="form-inline-input flex">
                            <input class="flex-1" type="text" placeholder="Numéro de mobile ou e-mail">
                        </div>
                        <div class="form-inline-input flex">
                            <input class="flex-1" type="text" placeholder="Nouveau mot de passe">
                        </div>
                        <div class="form-inline-date">
                            <p>Date de naissance <i class="fas fa-question-circle"></i></p>
                            <div class="form-select-date flex gap-1">
                                <select class="flex-1 day" name="" id="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                                <select class="flex-1 month" name="" id="">
                                    <option value="Janvier">Janvier</option>
                                    <option value="Février">Février</option>
                                    <option value="Mars">Mars</option>
                                    <option value="Avril">Avril</option>
                                    <option value="Mai">Mai</option>
                                    <option value="Juin">Juin</option>
                                </select>
                                <select class="flex-1 year" name="" id="">
                                    <option value="2023">2023</option>
                                    <option value="2022">2022</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-inline-genre">
                            <p>Genre <i class="fas fa-question-circle"></i></p>
                            <div class="form-radio-items flex aic gap-1">
                                <div class="form-radio-item flex-1 b flex aic gap-1 jcc">
                                    <label for="femme">Femme</label>
                                    <input type="radio" name="genre" id="femme" />
                                </div>
                                <div class="form-radio-item flex-1 b flex aic gap-1 jcc">
                                    <label for="homme">Homme</label>
                                    <input type="radio" name="genre" id="homme" />
                                </div>
                                <div class="form-radio-item flex-1 b flex aic gap-1 jcc">
                                    <label for="autre">Personnalisé</label>
                                    <input type="radio" name="genre" id="autre" />
                                </div>
                            </div>
                        </div>
                        <p class="form-register-infos">
                            En cliquant sur S’inscrire, vous acceptez nos Conditions générales. Découvrez comment nous
                            recueillons, utilisons et partageons vos données en lisant notre Politique d’utilisation des
                            données et comment nous utilisons les cookies et autres technologies
                            similaires en consultant notre Politique d’utilisation des cookies. Vous recevrez peut-être
                            des notifications par texto de notre part et vous pouvez à tout moment vous désabonner.

                        </p>
                        <div class="form-register-button flex jcc">
                            <button class="btn btn-success">S'inscrire</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>